<!-- TODO: change down url -->
<link rel="stylesheet" href="/src/asset/css/primeng/primeng.min.css">
<link rel="stylesheet" href="/src/asset/css/primeng/theme.css">

<section>
  <div class="margin-b-20">
    <ol class="breadcrumb font-16">
      <li class="breadcrumb-item"><a href="javascript: void(0)" routerLink="{{parentRouter.routerLink}}" [queryParams]="parentRouter.queryParams">{{parentRouter.cat1}}</a></li>
      <li class="breadcrumb-item active">{{parentRouter.cat2}}</li>
    </ol>
  </div>

  <div class="margin-b-20">
    <mat-card>
      <mat-card-content class="container">
        <form role="form">
          <div class="row justify-content-between">
            <div class="col-md-5">
              <div class="col-12 no-padding">
              <div class="form-group row">
                <label for="name" class="col-form-label no-padding-l no-padding-r">方案名称:</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="name" autocomplete="off" name="name" [(ngModel)]="solution.name" placeholder="请输入方案名称">
                </div>
              </div>

              <div class="form-group row">
                <label for="logo" class="col-form-label no-padding-l no-padding-r">方案图片:</label>
                <div class="col-md-9">
                  <ngx-cropper [config]="ngxCropperConfig" (returnData)="onReturnData($event)"></ngx-cropper>
                  <!-- 预览照片 -->
                  <div class="full-width padding-t-26" *ngIf="solution.logo">
                    <img [src]="solution.logo | ImgPathPre | trustURL" alt="logo">
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="industry" class="col-form-label no-padding-l no-padding-r">应用行业:</label>
                <div class="col-md-9">
                  <select name="industry" id="industry" class="form-control" [(ngModel)]="solution.industryCategory">
                      <option class="industry-content" value="null">选择行业</option>
                      <option class="industry-content" *ngFor="let industry of industries" value="{{industry}}">{{industry}}</option>
                    </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="" class="col-form-label no-padding-l no-padding-r">功能:</label>
                <div class="col-md-9">
                  <select name="func" id="func" class="form-control" [(ngModel)]="solution.functionCategory">
                      <option class="industry-content" value="null">选择功能</option>
                      <option class="industry-content" *ngFor="let function of functions" value="{{function}}">{{function}}</option>
                    </select>
                </div>
              </div>

              <div *ngIf="userType !== 3 " class="form-group row">
                <label for="" class="col-form-label no-padding-l no-padding-r">所属企业:</label>
                <div class="col-md-9">
                  <button class="btn btn-primary primary-btn" (click)="onOpenEntDialog()">关联企业</button>
                  <div class="text-primary margin-t-10">{{companyName}}</div>
                </div>
              </div>
              </div>
            </div>

            <div class="col-md-6 no-padding-l">
              <!-- 技术 -->
              <div class="form-group">
                <label for="" class="no-padding-l no-padding-r">技术:</label>
                <button class="btn btn-primary primary-btn" data-toggle="modal" data-target="#technologyModal">选择分类</button>

                <!-- Modal -->
                <div class="modal fade" id="technologyModal" tabindex="-1" role="dialog" aria-labelledby="technologyModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="technologyModalLabel">技术分类</h3>
                      </div>
                      <div class="modal-body">
                        <label for="" class="col-form-label full-width industry-model-head-title">技术分类（最多选择4项二级分类）</label>
                        <!-- <ul>
                          <li *ngFor="let cat of solution.technologyCategories">
                            <span class="text-primary">{{cat.category1}}</span> <span class="text-warning margin-r-10" *ngFor="let cat2 of cat.category2">{{cat2}}</span>
                          </li>
                        </ul> -->
                        <p-tree [value]="technologyCats" selectionMode="checkbox" [(selection)]="selectedTechnologyCats" (onNodeSelect)="nodeSelectTechnology($event)"></p-tree>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <a href="javascript: void(0)" class="btn btn-lg btn-primary" data-dismiss="modal">确定</a>
                        <a href="javascript: void(0)" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">取消</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./ Modal END -->

                <!-- show container -->
                <div class="col-12 no-padding-l no-padding-r">
                  <div class="ark-list-area-container margin-t-20" *ngIf="selectedTechnologyCats && selectedTechnologyCats.length > 0">
                    <div class="ark-list-area">
                      <label for="" class="no-margin">技术分类：</label>
                      <div class="list-area">
                        <ul>
                          <li *ngFor="let item of selectedTechnologyCats">
                            <span>{{item.data}}</span>
                            <i class="fa fa-times" aria-hidden="true" (click)="removeItem(item, 'technology')"></i>
                          </li>
                        </ul>
                      </div>
                      <a href="javascript: void(0)" class="toggle-icon" toggleEditAction>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 产品 -->
              <div class="form-group">
                <label for="" class="no-padding-l no-padding-r">产品:</label>
                <button class="btn btn-primary primary-btn" data-toggle="modal" data-target="#productModal">选择分类</button>

                <!-- Modal -->
                <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="productModalLabel">产品分类</h3>
                      </div>
                      <div class="modal-body">
                        <label for="" class="col-form-label  industry-model-head-title">产品分类（最多选择4项二级分类）</label>
                        <!-- <ul>
                          <li *ngFor="let cat of solution.productCategories">
                            <span class="text-primary">{{cat.category1}}</span> <span class="text-warning margin-r-10" *ngFor="let cat2 of cat.category2">{{cat2}}</span>
                          </li>
                        </ul> -->
                        <p-tree [value]="productCats" selectionMode="checkbox" [(selection)]="selectedProductCats" (onNodeSelect)="nodeSelectProduct($event)"></p-tree>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <a href="javascript: void(0)" class="btn btn-lg btn-primary" data-dismiss="modal">确定</a>
                        <a href="javascript: void(0)" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">取消</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./End Modal -->

                <!-- show container -->
                <div class="col-12 no-padding-l no-padding-r">
                  <div class="ark-list-area-container margin-t-20" *ngIf="selectedProductCats && selectedProductCats.length > 0">
                    <div class="ark-list-area">
                      <label for="" class="no-margin">产品分类：</label>
                      <div class="list-area">
                        <ul>
                          <li *ngFor="let item of selectedProductCats">
                            <span>{{item.data}}</span>
                            <i class="fa fa-times" aria-hidden="true" (click)="removeItem(item, 'product')"></i>
                          </li>
                        </ul>
                      </div>
                      <a href="javascript: void(0)" class="toggle-icon" toggleEditAction>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 相关产品 -->
              <div class="form-group">
                <label for="" class="no-padding-l no-padding-r">相关产品:</label>
                <button class="btn btn-primary primary-btn" type="button" (click)="onOpenProductDialog()">关联产品</button>

                <!-- show container -->
                <div class="col-12 no-padding-l no-padding-r">
                  <div class="ark-list-area-container margin-t-20" *ngIf="productNames && productNames.length > 0">
                    <div class="ark-list-area">
                      <label for="" class="no-margin">产品：</label>
                      <div class="list-area">
                        <ul>
                          <li *ngFor="let product of productNames">
                            <span>{{product}}</span>
                            <i class="fa fa-times" aria-hidden="true" (click)="removeItem(product, 'relativeProduct')"></i>
                          </li>
                        </ul>
                      </div>
                      <a href="javascript: void(0)" class="toggle-icon" toggleEditAction>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="form-group flex-column row">
            <label for="" class="col-form-label margin-b-16">方案详情:</label>
            <div class="col-12">
              <ckeditor name="ckeditor" [(ngModel)]="solution.detail" [config]="editorConf" [readonly]="false" debounce="500">
              </ckeditor>
            </div>
          </div>

          <div class="form-group text-center margin-b-6">
            <button class="btn col-lg-4 col-md-6 col-sm-10 col-xs-12 ark-form-btn" [disabled]="isSubmiting" (click)="onSave()">保存</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>