.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/node_modules/
yarn-error.log
/dist
/.cache
/.idea
./package-lock.json
package-lock.json
stats.json
