$text-color: #333333;
$white-color: #ffffff;
$border-color: #ccc;

$side-color: #666;
$noselect-font: #333;
$hover-color: #eba52b;
$icon-normal: #d4d4d4;
$icon-hoverlist: (1: #b995de, 2: #1695f5, 3: #3ec1c9, 4: #e3b029);

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin hoverIcon($value: #d4d4d4) {
  a:hover,
  a.active {
    i {
      color: $value;
    }
  }
}

aside {
  display: flex;
  width: 1040px;
  border: 1px solid $border-color;
  margin: 2rem auto;
  background-color: #fff;

  .nav {
    height: 8rem;
    display: flex;   
    .company-icon {
      position: absolute;
      font-size: 3rem;
      top: 8rem;
      left: 3.6rem;
      color: $side-color;
    }
    p {
      width: 7.4rem;
      display: inline-block;
      margin-bottom: 0;
      line-height: 8rem;
      font-size: 1.4rem;
      font-weight: 600;
      font-family: Helvetica, Arial, "Microsoft Yahei";
      color: $side-color;
      text-align: center;
    }

    ul {
      display: flex;
      flex-flow: wrap;
      padding: 0 1rem 0 0;
      margin-top: 1.5rem;
      margin-bottom: 1.3rem;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      justify-content: left;
      flex: 1;     

      li {       
        list-style: none;
        line-height: 2rem;
        margin-left: 1.2rem;       
        @each $i, $color in $icon-hoverlist {
          &:nth-of-type(4n-#{$i}) {
            @include hoverIcon($color);
          }
        }

        &>a {
          display: inline-block;         
          text-decoration: none;

          i {
            font-size: 3rem;
            color: $icon-normal;
          }

          span {
            text-align:center;
            font-size: 1.4rem;
            font-family: Helvetica, Arial, "Microsoft Yahei";
            color: $noselect-font;         
          }
          &:hover,
          &.active {
            span {
              font-weight: bold;
              color: $hover-color;
            }
          }         
        }
      }
    }
  }
}


article {
  width: 1040px;
  display: block;
  margin: auto;

  .company-item {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;

    .items {

      figure {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 190px;
        padding: 30px 0;
        margin: 0;
        border-bottom: 1px solid #d4d4d4;

        
        .ark-img-ease-in {
          width: 19%;
          margin-right: 1%;
          display: block;
          overflow: hidden;

          img {
            width: 184px;
            height: 130px;
            text-align: center;
            transition: width 0.3s ease-in, height 0.3s ease-in;
            -webkit-transition: width 0.3s ease-in, height 0.3s ease-in;
            &:hover {
              transform: scale(1.06);
              transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
            }
          }
        }


        figcaption {
          width: 80%;
          padding: 0;

          h3 {
            margin-bottom: 1rem;
            padding: 0;

            a {
              font-size: 1.6rem;
              font-weight: bold;
              color: #000;
            }
          }

          p { 
            font-size: 1.4rem;
            display: inline;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: break-all;
          }
        }
      }
    }
  }
}

.border-left {
  border-left: 1px solid $border-color;
}

.no-border-right {
  border-right: 0 !important;
}

