<section class="full-height flex flex-column">
  <ark-header></ark-header>

  <section class="flex-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 ark-sign-up">
          <ul class="nav" id="signUpTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="personal-tab" data-toggle="pill" role="tab" aria-controls="personal" aria-expanded="true">企业（园区）注册</a>
            </li>
          </ul>
          <div>
            <h3>验证邮箱</h3>
            <h4>我们已向您的注册邮箱 {{email}} 发送了一封邮件，请您注意接收邮件</h4>
            <div class="inline-flex flex-column email-subtip">
              <p>请注意查收邮件，并按照邮件中的提示操作，完成安全认证。</p>
              <!-- <p>没有收到邮件？<a href="javascript: void(0)" (click)="onResendEmail()">重新发送</a></p> -->
              <p><span class="text-danger">{{countdown}}s</span> 后将自动跳转到登录页面</p>
              <a routerLink="/login" class="btn btn-primary btn-lg signup-btn">立即登录</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ark-footer></ark-footer>
</section>