@font-face {
  font-family: 'proudsmart';
  src:  url('proudsmart.eot?306xz1');
  src:  url('proudsmart.eot?306xz1#iefix') format('embedded-opentype'),
    url('proudsmart.ttf?306xz1') format('truetype'),
    url('proudsmart.woff?306xz1') format('woff'),
    url('proudsmart.svg?306xz1#proudsmart') format('svg');
  font-weight: normal;
  font-style: normal;
}

.proudsmart {
  display: inline-block;
  font: normal normal normal 14px/1 proudsmart;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ps-D-printer:before {
  content: "\e918";
}
.ps-sensor-and-control:before {
  content: "\e900";
}
.ps-additive-manufacturing-equipment:before {
  content: "\e901";
}
.ps-machine-and-robot:before {
  content: "\e902";
}
.ps-logistics-management:before {
  content: "\e903";
}
.ps-intelligent-energy-management:before {
  content: "\e904";
}
.ps-intelligent-remote-operation:before {
  content: "\e905";
}
.ps-personalized-customization:before {
  content: "\e906";
}
.ps-networked-collaborative-manufacturing:before {
  content: "\e907";
}
.ps-process-intelligent-manufacturing:before {
  content: "\e908";
}
.ps-discrete-intelligent-manufacturing:before {
  content: "\e909";
}
.ps-industrial-internet1:before {
  content: "\e90a";
}
.ps-industrial-software:before {
  content: "\e90b";
}
.ps-robot1:before {
  content: "\e90c";
}
.ps-numerical-control-machine:before {
  content: "\e90d";
}
.ps-aerospace1:before {
  content: "\e90e";
}
.ps-oceanographic-engineering:before {
  content: "\e90f";
}
.ps-rail-transit:before {
  content: "\e910";
}
.ps-car1:before {
  content: "\e911";
}
.ps-power1:before {
  content: "\e912";
}
.ps-medical-instruments:before {
  content: "\e913";
}
.ps-biological-medicine:before {
  content: "\e914";
}
.ps-chemical-industry:before {
  content: "\e915";
}
.ps-food-light-industry:before {
  content: "\e916";
}
.ps-intelligent-control:before {
  content: "\e917";
}
.ps-intelligent-manufacturing-equipment:before {
  content: "\e91f";
}
.ps-internetof-things:before {
  content: "\e920";
}
.ps-electrical-equipment:before {
  content: "\e921";
}
.ps-cloud-computing:before {
  content: "\e922";
}
.ps-instruments-and-apparatuses:before {
  content: "\e923";
}
.ps-related-equipment:before {
  content: "\e924";
}
.ps-intelligent-inspection:before {
  content: "\e925";
}
.ps-manufacturing-materials:before {
  content: "\e926";
}
.ps-logistics-and-warehousing:before {
  content: "\e927";
}
.ps-it-industry:before {
  content: "\e928";
}
.ps-property:before {
  content: "\e929";
}
.ps-classification:before {
  content: "\e92a";
}
.ps-function:before {
  content: "\e92b";
}
.ps-industry:before {
  content: "\e92c";
}
.ps-standard-collection:before {
  content: "\e92d";
}
.ps-policy-collection:before {
  content: "\e92e";
}
.ps-policy:before {
  content: "\e92f";
}
.ps-supplier-collection:before {
  content: "\e930";
}
.ps-latest-policy:before {
  content: "\e931";
}
.ps-latest-program:before {
  content: "\e932";
}
.ps-program-collection:before {
  content: "\e933";
}
.ps-park-enterprise-analysis:before {
  content: "\e934";
}
.ps-park-advantage:before {
  content: "\e935";
}
.ps-settled-enterprise1:before {
  content: "\e936";
}
.ps-park-introduction-policy:before {
  content: "\e937";
}
.ps-park-essential-information:before {
  content: "\e938";
}
.ps-park-data:before {
  content: "\e939";
}
.ps-park-collection:before {
  content: "\e93a";
}
.ps-patent-collection:before {
  content: "\e93b";
}
.ps-product-collection:before {
  content: "\e93c";
}
.ps-enterprise-subscription:before {
  content: "\e93d";
}
.ps-programme:before {
  content: "\e93e";
}
.ps-weibo:before {
  content: "\e93f";
}
.ps-wechat:before {
  content: "\e940";
}
.ps-qqzone:before {
  content: "\e941";
}
.ps-login1:before {
  content: "\e942";
}
.ps-password:before {
  content: "\e943";
}
.ps-my-collection:before {
  content: "\e944";
}
.ps-account-setting:before {
  content: "\e945";
}
.ps-audit-information:before {
  content: "\e946";
}
.ps-my-enterprise:before {
  content: "\e947";
}
.ps-my-homepage:before {
  content: "\e948";
}
.ps-power:before {
  content: "\e949";
}
.ps-register:before {
  content: "\e94a";
}
.ps-log-in:before {
  content: "\e94b";
}
.ps-highway:before {
  content: "\e94c";
}
.ps-subway:before {
  content: "\e94d";
}
.ps-station:before {
  content: "\e94e";
}
.ps-airport:before {
  content: "\e94f";
}
.ps-port:before {
  content: "\e950";
}
.ps-park-introduction:before {
  content: "\e951";
}
.ps-favoured-policy:before {
  content: "\e952";
}
.ps-settled-enterprise:before {
  content: "\e953";
}
.ps-service-advantage:before {
  content: "\e954";
}
.ps-brand-advantage:before {
  content: "\e955";
}
.ps-location:before {
  content: "\e956";
}
.ps-car:before {
  content: "\e957";
}
.ps-position:before {
  content: "\e958";
}
.ps-traffic:before {
  content: "\e959";
}
.ps-ocean:before {
  content: "\e95a";
}
.ps-aerospace:before {
  content: "\e95b";
}
.ps-robot:before {
  content: "\e95c";
}
.ps-jichuang:before {
  content: "\e95d";
}
.ps-info-industry:before {
  content: "\e95e";
}
.ps-箭头:before {
  content: "\e95f";
}
.ps-pressure:before {
  content: "\e960";
}
.ps-lightning:before {
  content: "\e961";
}
.ps-frequency:before {
  content: "\e962";
}
.ps-flow:before {
  content: "\e963";
}
.ps-fan_playing:before {
  content: "\e964";
}
.ps-agricultural-equipment:before {
  content: "\e965";
}
.ps-industrial-Internet:before {
  content: "\e966";
}
.ps-vehicle:before {
  content: "\e967";
}
.ps-optical-film:before {
  content: "\e968";
}
.ps-cnc-machine-tools:before {
  content: "\e969";
}
.ps-power-equipment:before {
  content: "\e96a";
}
.ps-new-energy-vehicle:before {
  content: "\e96b";
}
.ps-essential-information:before {
  content: "\e96c";
}
.ps-innovate:before {
  content: "\e96d";
}
.ps-risk:before {
  content: "\e96e";
}
.ps-equipment-number:before {
  content: "\e96f";
}
.ps-item-number:before {
  content: "\e970";
}
.ps-customer-number:before {
  content: "\e971";
}
.ps-nav_icon_12:before {
  content: "\e972";
  color: #b8c7cf;
}
.ps-nav_icon_13:before {
  content: "\e973";
  color: #b8c7cf;
}
.ps-nav_icon_11:before {
  content: "\e974";
  color: #b8c7cf;
}
.ps-on:before {
  content: "\e975";
}
.ps-off:before {
  content: "\e976";
}
.ps-tuntuliang-01:before {
  content: "\e977";
}
.ps-reset:before {
  content: "\e978";
}
.ps-nav_icon_05:before {
  content: "\e979";
  color: #b8c7cf;
}
.ps-nav_icon_01:before {
  content: "\e97a";
  color: #b8c7cf;
}
.ps-nav_icon_04:before {
  content: "\e97b";
  color: #b8c7cf;
}
.ps-nav_icon_06:before {
  content: "\e97c";
  color: #b8c7cf;
}
.ps-nav_icon_07:before {
  content: "\e97d";
  color: #b8c7cf;
}
.ps-nav_icon_08:before {
  content: "\e97e";
  color: #b8c7cf;
}
.ps-nav_icon_09:before {
  content: "\e97f";
  color: #b6c4cd;
}
.ps-nav_icon_10:before {
  content: "\e980";
  color: #b8c7cf;
}
.ps-nav_icon_02:before {
  content: "\e981";
  color: #b8c7cf;
}
.ps-nav_icon_03:before {
  content: "\e982";
  color: #b8c7cf;
}
.ps-align-left:before {
  content: "\e983";
}
.ps-arrow-down:before {
  content: "\e984";
}
.ps-arrow-up:before {
  content: "\e985";
}
.ps-website:before {
  content: "\e986";
}
.ps-copyright:before {
  content: "\e987";
}
.ps-trademark:before {
  content: "\e988";
}
.ps-certificate:before {
  content: "\e989";
}
.ps-software-copyright:before {
  content: "\e98a";
}
.ps-patent:before {
  content: "\e98b";
}
.ps-address:before {
  content: "\e98c";
}
.ps-domain:before {
  content: "\e98d";
}
.ps-download:before {
  content: "\e98e";
}
.ps-pai_logo:before {
  content: "\e98f";
}
.ps-negative:before {
  content: "\e990";
}
.ps-neutral:before {
  content: "\e991";
}
.ps-positive:before {
  content: "\e992";
}
.ps-copy:before {
  content: "\e993";
}
.ps-excel:before {
  content: "\e994";
}
.ps-app:before {
  content: "\e995";
}
.ps-server:before {
  content: "\e996";
}
.ps-help:before {
  content: "\e997";
}
.ps-center:before {
  content: "\e998";
}
.ps-userinfo:before {
  content: "\e999";
}
.ps-align-center:before {
  content: "\e99a";
}
.ps-align-bottom:before {
  content: "\e99b";
}
.ps-align-top:before {
  content: "\e99c";
}
.ps-align-middle:before {
  content: "\e99d";
}
.ps-horizontal-distribution:before {
  content: "\e99e";
}
.ps-vertical-distribution:before {
  content: "\e99f";
}
.ps-align-right:before {
  content: "\e9a0";
}
.ps-court-announcement:before {
  content: "\e9a1";
}
.ps-court-ruling:before {
  content: "\e9a2";
}
.ps-business-change:before {
  content: "\e9a3";
}
.ps-back-01:before {
  content: "\e9a4";
  color: #3b8dbc;
}
.ps-water-yes:before {
  content: "\e9a5";
}
.ps-water-no:before {
  content: "\e9a6";
}
.ps-smoke-no:before {
  content: "\e9a7";
}
.ps-smoke-yes:before {
  content: "\e9a8";
}
.ps-beixunpanjilu:before {
  content: "\e9a9";
}
.ps-xunpanxiaoxi:before {
  content: "\e9aa";
}
.ps-wodexunpanjilu:before {
  content: "\e9ab";
}
.ps-xitongxiaoxi:before {
  content: "\e9ac";
}
.ps-qiyerongyu:before {
  content: "\e9ad";
}
.ps-tianjiaanli:before {
  content: "\e9ae";
}
.ps-tianjiachanpin:before {
  content: "\e9af";
}
.ps-tianjiafangan:before {
  content: "\e9b0";
}
.ps-wodeqiye:before {
  content: "\e9b1";
}
.ps-qiyexinxi:before {
  content: "\e9b2";
}
.ps-door-open:before {
  content: "\e9b3";
}
.ps-door-close:before {
  content: "\e9b4";
}
.ps-safety:before {
  content: "\e9b5";
}
.ps-kehuguanxi:before {
  content: "\e9b6";
}
.ps-weibaofuwu:before {
  content: "\e9b7";
}
.ps-guzhangfenxi:before {
  content: "\e9b8";
}
.ps-login:before {
  content: "\e9b9";
}
.ps-fail:before {
  content: "\e9ba";
}
.ps-success:before {
  content: "\e9bb";
}
.ps-layer-down:before {
  content: "\e9bc";
}
.ps-layer-up:before {
  content: "\e9bd";
}
.ps-linked-data:before {
  content: "\e9be";
}
.ps-management:before {
  content: "\e9bf";
}
.ps-collection-point:before {
  content: "\e9c0";
}
.ps-pay:before {
  content: "\e9c1";
}
.ps-message:before {
  content: "\e9c2";
}
.ps-customer:before {
  content: "\e9c3";
}
.ps-expense-center:before {
  content: "\e9c4";
}
.ps-renewal:before {
  content: "\e9c5";
}
.ps-wodefangan:before {
  content: "\e9c6";
}
.ps-peizhiguanli:before {
  content: "\e9c7";
}
.ps-kehufuwu:before {
  content: "\e9c8";
}
.ps-tongjifenxi:before {
  content: "\e9c9";
}
.ps-gongdanguanli:before {
  content: "\e9ca";
}
.ps-shebeigaojing:before {
  content: "\e9cb";
}
.ps-shebeijiance:before {
  content: "\e9cc";
}
.ps-shebeiguanli:before {
  content: "\e9cd";
}
.ps-shebeimuban:before {
  content: "\e9ce";
}
.ps-yunyingshouye:before {
  content: "\e9cf";
}
.ps-market:before {
  content: "\e9d0";
}
.ps-publish:before {
  content: "\e9d1";
}
.ps-top:before {
  content: "\e9d2";
}
.ps-information:before {
  content: "\e9d3";
}
.ps-upload-02:before {
  content: "\e9d4";
}
.ps-exit:before {
  content: "\e9d5";
}
.ps-system:before {
  content: "\e9d6";
}
.ps-recommend:before {
  content: "\e9d7";
}
.ps-review:before {
  content: "\e9d8";
}
.ps-team:before {
  content: "\e9d9";
}
.ps-exclamation:before {
  content: "\e9da";
}
.ps-upload:before {
  content: "\e9db";
}
.ps-link:before {
  content: "\e9dc";
}
.ps-unlink:before {
  content: "\e9dd";
}
.ps-delete-02:before {
  content: "\e9de";
}
.ps-add:before {
  content: "\e9df";
}
.ps-move:before {
  content: "\e9e0";
}
.ps-save:before {
  content: "\e9e1";
}
.ps-delete:before {
  content: "\e9e2";
}
.ps-dust:before {
  content: "\e9e3";
}
.ps-battery:before {
  content: "\e9e4";
}
.ps-gis:before {
  content: "\e9e5";
}
.ps-fax:before {
  content: "\e9e6";
}
.ps-sequence:before {
  content: "\e9e7";
}
.ps-pdf:before {
  content: "\e9e8";
}
.ps-phone:before {
  content: "\e9e9";
}
.ps-weixin:before {
  content: "\e9ea";
}
.ps-email:before {
  content: "\e9eb";
}
.ps-qq:before {
  content: "\e9ec";
}
.ps-qqspace:before {
  content: "\e9ed";
}
.ps-web:before {
  content: "\e9ee";
}
.ps-video:before {
  content: "\e9ef";
}
.ps-focus:before {
  content: "\e9f0";
}
.ps-time:before {
  content: "\e9f1";
}
.ps-search:before {
  content: "\e9f2";
}
.ps-more:before {
  content: "\e9f3";
}
.ps-edit:before {
  content: "\e9f4";
}
.ps-back:before {
  content: "\e9f5";
}
.ps-mushroom:before {
  content: "\e9f6";
  color: #25bce7;
}
.ps-planting:before {
  content: "\e9f7";
  color: #25bce7;
}
.ps-current-production:before {
  content: "\e9f8";
  color: #25bce7;
}
.ps-estimated-output:before {
  content: "\e9f9";
  color: #25bce7;
}
.ps-daily-output:before {
  content: "\e9fa";
}
.ps-duration:before {
  content: "\e9fb";
}
.ps-sandglass:before {
  content: "\e9fc";
}
.ps-task:before {
  content: "\e9fd";
}
.ps-current-production_p:before {
  content: "\e9fe";
}
.ps-pattern:before {
  content: "\e9ff";
}
.ps-number:before {
  content: "\ea00";
}
.ps-sunshine:before {
  content: "\ea01";
}
.ps-air-humidity:before {
  content: "\ea02";
}
.ps-air-temperature:before {
  content: "\ea03";
}
.ps-camera:before {
  content: "\ea04";
}
.ps-video-camera:before {
  content: "\ea05";
}
.ps-water:before {
  content: "\ea06";
}
.ps-fan:before {
  content: "\ea07";
}
.ps-electric-motor02:before {
  content: "\ea08";
}
.ps-electric-motor:before {
  content: "\ea09";
}
.ps-co2:before {
  content: "\ea0a";
}
.ps-soil-temperature:before {
  content: "\ea0b";
}
.ps-soil-humidity:before {
  content: "\ea0c";
}
.ps-irrigation:before {
  content: "\ea0d";
}
.ps-spraying:before {
  content: "\ea0e";
}
.ps-chart-brokenline:before {
  content: "\ea0f";
}
.ps-user:before {
  content: "\ea10";
}
.ps-group:before {
  content: "\ea11";
}
