.ent-wrap{
  margin-bottom: 10px;
}
.ent-title{
  color: inherit;
  display: block;
  font-size: 1.5rem;
  line-height: inherit;
  margin-bottom: .5rem;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  width: 100%;
}

.ent-main{
  width: 100%;
}

.ent-right{
  width: 100%;
  background-color: #FFF;
}