$label-color: #b0b0b0;
$text-color: #3c4858;

$img-bgc: rgba(0, 0, 0, 0.4);
$img-text-color: #fff;

span {
  color: $text-color;
}

label {
  color: $label-color;
  font-weight: bold;
}

figure {
  display: inline-block;
  position: relative;

  a {
    align-items: center;
    background: $img-bgc;
    bottom: 0;
    color: $img-text-color;
    display: none;
    font-size: 16px;
    height: 0;
    justify-content: center;
    left: 0;
    position: absolute;
    text-decoration: none;
    width: 100%;
  }

  &:hover {
    a {
      display: flex;
      height: 100%;
      transition: height 0.3s 0.3s ease-in-out;
    }
  }
}

.modal-body {
  img {
    max-height: 400px;
    width: 100%;
  }
}
