<section>
  <div class="margin-b-20">
    <ol class="breadcrumb font-16">
      <li class="breadcrumb-item"><a href="javascript: void(0)">用户管理</a></li>
      <li class="breadcrumb-item active">企业（园区）用户</li>
    </ol>
  </div>

  <mat-card>
    <mat-card-header class="margin-b-10">
      <mat-card-title class="full-height flex-v-center" style="display: flex; margin-bottom: 0;">
        <span class="font-16 margin-r-20">用户数量 <strong class="text-danger">{{totalRecords}}</strong></span>
      </mat-card-title>
      <div class="flex flex-v-center ml-auto margin-r-20">
        <select class="form-control" #type [(ngModel)]="queryParam.type" (change)="onChangeType(type.value)">
          <option value="null">全部</option>
          <option value="3">企业用户</option>
          <option value="4">园区用户</option>
        </select>
      </div>
      <div class="flex-inline">
        <mat-form-field>
          <input type="text" matInput #keyword [(ngModel)]="queryParam.key" (keyup.enter)="onSearch(keyword.value)" placeholder="请输入用户名或邮箱">
        </mat-form-field>
        <a mat-mini-fab color="primary" (click)="onSearch(keyword.value)">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </div>
    </mat-card-header>

    <mat-card-content>
      <table class="table ark-admin-table">
        <tbody>
          <tr>
            <th>用户名</th>
            <th>邮箱</th>
            <th>
              注册时间
              <a href="javascript: void(0)" (click)="onChangeSort()">
                <i class="fa text-info" [ngClass]="{'fa-sort-amount-desc': queryParam.sort === 0, 'fa-sort-amount-asc': queryParam.sort === 1}"></i>
              </a>
            </th>
            <th>用户类型</th>
            <th>操作</th>
          </tr>

          <tr *ngFor="let ent of ents" [@flyInOutAnimation]>
            <td>{{ent.username}}</td>
            <td>{{ent.email}}</td>
            <td>{{ent.createTime | date: 'y-MM-dd'}}</td>
            <td>{{ent.type === 3 ? '企业用户' : ent.type === 4 ? '园区用户' : '其他用户'}}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="onDelete(ent.username)" matTooltip="删除" matTooltipPosition="above">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>

    <mat-card-footer class="padding-b-20">
      <ark-paginator rows="10" currentPage="{{currentPage}}" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></ark-paginator>
    </mat-card-footer>
  </mat-card>
</section>