<section class="full-height flex flex-column">
  <ark-header headerTitle="忘记密码"></ark-header>

  <section class="flex-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 ark-log-in">
          <ul class="nav" id="signUpTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="personal-tab" data-toggle="pill" href="#personal" role="tab" aria-controls="personal" aria-expanded="true">忘记密码</a>
            </li>
            
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade show active ark-signup-form" id="personal" role="tabpanel" aria-labelledby="personal-tab">

              <!-- 个人忘记密码 -->
              <form role="form" *ngIf="showPersonForm&&!showEntForm" [formGroup]="PersionPsdForm" (ngSubmit)="onPersonSubmit()">
                <div class="form-group">
                  <span class="form-label">手机号</span>
                  <input type="text" class="form-control" autocomplete="off" required [(ngModel)]="account.phone" formControlName="phone">
                  <div class="error-tip">
                    <span *ngIf="formErrors.phone">{{formErrors.phone}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <span class="form-label">激活码</span>
                  <input type="number" class="form-control input-code" autocomplete="off" required placeholder="输入激活码" [readonly]="canGetCode" [(ngModel)]="account.authCode" formControlName="authCode">
                  <button class="btn btn-default btn-code" (click)="getResetPwdAuthCode(account.phone)">{{codeMessage}}</button>
                  <div class="error-tip">
                    <span *ngIf="formErrors.authCode">{{formErrors.authCode}}</span>
                  </div>
                </div>
                <div formGroupName="passwordsGroup">
                  <div class="form-group">
                    <span class="form-label">新密码</span>
                    <input type="password" class="form-control" autocomplete="off" required [(ngModel)]="account.password" formControlName="password">
                    <div class="error-tip">
                      <span *ngIf="formErrors.password">{{formErrors.password}}</span>
                      
                    </div>
                  </div>
                  <div class="form-group">
                    <span class="form-label">确认密码</span>
                    <input type="password" class="form-control" autocomplete="off" required [(ngModel)]="account.confirmpsd" formControlName="confirmpsd">
                    <div class="error-tip">
                      <span *ngIf="formErrors.confirmpsd&&formErrors.passwordsGroup">{{formErrors.confirmpsd}}</span>
                      <span *ngIf="!formErrors.confirmpsd&&account.confirmpsd&&formErrors.passwordsGroup">{{formErrors.passwordsGroup}}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <span class="form-label">验证码</span>
                  <input type="text" class="form-control input-code kaptcha-input" autocomplete="off" required placeholder="输入验证码" [(ngModel)]="account.kaptcha" formControlName="kaptcha">
                  <img class="kaptcha" [attr.src]="kaptchaImg">
                  <a href="javascript: void(0)" class="toggle-btn" (click)="getKaptcha()">看不清？换一张</a>
                </div>

                <div class="form-group margin-t-10">
                  <button class="btn btn-primary signup-btn" type="submit" [disabled]="!PersionPsdForm.valid">确定</button>
                </div>
              </form>

              <!-- 企业（园区）填写邮件 -->
              <form role="form" *ngIf="!showPersonForm&&!showEntForm" [formGroup]="SendEmailForm" (ngSubmit)="onSendEmail()">
                <div class="form-group">
                  <span class="form-label">邮箱</span>
                  <input type="text" class="form-control" autocomplete="off" required [(ngModel)]="sendEmail.email" formControlName="email">
                  <div class="error-tip">
                    <span *ngIf="formErrors.email">{{formErrors.email}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <span class="form-label">验证码</span>
                  <input type="text" class="form-control input-code kaptcha-input" autocomplete="off" required placeholder="输入验证码" [(ngModel)]="sendEmail.kaptcha" formControlName="kaptcha">
                  <img class="kaptcha" [attr.src]="kaptchaImg">
                  <a href="javascript: void(0);" class="toggle-btn" (click)="getKaptcha()">看不清？换一张</a>
                </div>
                <div class="form-group margin-t-10">
                  <button class="btn btn-primary signup-btn" type="submit" [disabled]="!SendEmailForm.valid">确定</button>
                </div>
              </form>

              <!-- 企业（园区）填写密码 -->
              <form role="form" *ngIf="showPersonForm&&showEntForm" [formGroup]="EntPsdForm" (ngSubmit)="onEntSubmit()">
                <div formGroupName="passwordsGroup">
                  <div class="form-group">
                    <span class="form-label">新密码</span>
                    <input type="password" class="form-control" autocomplete="off" required [(ngModel)]="entPsd.password" formControlName="password">
                    <div class="error-tip">
                      <span *ngIf="formErrors.password">{{formErrors.password}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <span class="form-label">确认密码</span>
                    <input type="password" class="form-control" autocomplete="off" required [(ngModel)]="entPsd.confirmpsd" formControlName="confirmpsd">
                    <div class="error-tip">
                      <span *ngIf="formErrors.confirmpsd&&formErrors.passwordsGroup">{{formErrors.confirmpsd}}</span>
                      <span *ngIf="!formErrors.confirmpsd&&entPsd.confirmpsd&&formErrors.passwordsGroup">{{formErrors.passwordsGroup}}</span>
                    </div>
                  </div>
                </div>

                <div class="form-group margin-t-10">
                  <button class="btn btn-primary signup-btn" type="submit" [disabled]="!EntPsdForm.valid">确定</button>
                </div>
              </form>

            </div>           
          </div>
        </div>
      </div>
    </div>
  </section>

  <ark-footer></ark-footer>
</section>