
<section>
    <fieldset>
      <mat-card>
        <legend>账号设置</legend>
        <mat-card-content class="container">
        <div class="row flex-column"  *ngIf="!isSend">
          <div class="col-lg-12 col-md-12 col-sm-12 app-email">
            <form role="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group row">
                  <div class="col-xs-12">
                    <label for="email" class="col-md-4 col-form-label must-input">请确认您的邮箱：</label>
                    <div class="col-md-8 col-form-input">
                      <input type="email" class="form-control" autocomplete="off" formControlName="email" [(ngModel)]="email" required placeholder="请输入邮箱">
                    </div>
                    <div class="error-tip">
                        <span *ngIf="formErrors.email">{{formErrors.email}}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row" style="padding:50px;">
                  <button [disabled]="emailForm.invalid" type="submit" class="btn btn-primary">发送验证邮件</button>
                </div>
            </form>
          </div>
        </div>
        <div class="row flex-column" *ngIf="isSend">
          <div class="app-email">
            <h4>我们已向您的注册邮箱 {{email}} 发送了一封邮件，请您注意接收邮件</h4>
            <div class="mail-tip">
              <p>请注意查收邮件，并按照邮件中的提示操作，完成安全认证。</p>
              <p><span class="text-danger">{{countdown}}s</span> 后将自动跳转到登录页面</p>
              <a routerLink="/login" class="btn btn-primary btn-lg signup-btn">立即登录</a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </fieldset>
</section>