html {
  font-size: 62.5%; // 10 ÷ 16 × 100% = 62.5%
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
  // font-size: 1.4rem;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}
