<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">修改密码</h4>
    <button class="btn btn-lg" style="background-color: #fff; cursor: pointer" [mat-dialog-close]="cancel">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body ark-signup-form">
    <form role="form" [formGroup]="passForm" (ngSubmit)="onChangePwdSubmit()">
      <div formGroupName="passwordsGroup">
        <div class="form-group">
          <input type="password" class="form-control" autocomplete="off" formControlName="oldPassword" [(ngModel)]="pass.oldPassword" required (keyup.enter)="filterSpace($event)"  placeholder="请输入原密码">
          <div class="error-tip">
            <span *ngIf="formErrors.oldPassword">{{ formErrors.oldPassword }}</span>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" autocomplete="off" formControlName="newPassword"  [(ngModel)]="pass.newPassword" required placeholder="请输入新密码">
          <div class="error-tip">
            <span *ngIf="formErrors.newPassword">{{ formErrors.newPassword }}</span>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" autocomplete="off" formControlName="confirmPassword" [(ngModel)]="pass.confirmPassword" required placeholder="确认密码">
          <div class="error-tip">
            <span *ngIf="formErrors.confirmPassword&&formErrors.passwordsGroup">{{formErrors.confirmPassword}}</span>
            <span *ngIf="!formErrors.confirmPassword&&pass.confirmPassword&&formErrors.passwordsGroup">{{formErrors.passwordsGroup}}</span>
          </div>
        </div>
     </div>
      <div class="form-group action">
        <button class="btn cancel-btn" type="button" [mat-dialog-close]="cancel" >取消</button>
        <button [disabled]="!passForm.valid" type="submit" class="btn btn-primary ensure-btn" >确定</button>
      </div>
    </form>
  </div>
</div>