<ark-header headerTitle="产品详情"></ark-header>

<section class="flex-1 body-bgc padding-t-20 padding-b-20">
  <div class="container">
    <div class="row no-margin">
      <div class="col-lg-9 col-md-12 margin-b-20">
        <nav class="ark-search-breadcrumb" aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="text-active" routerLink="/product/search">产品搜索</a>
            </li>
            <li class="breadcrumb-item active">
              <a>产品详情</a>
            </li>
          </ol>
        </nav>

        <div class="ark-search-detail">
          <!-- 顶部简介 -->
          <div class="row">
            <!-- Logo -->
            <div class="col-lg-4 col-md-12">
              <figure class="logo">
                <img *ngIf="product?.logo; else showProductImage" alt="Logo" [src]="product.logo | ImgPathPre | trustURL">
                <ng-template #showProductImage>
                  <img alt="product" src="../../../../asset/image/default/product_default.png">
                </ng-template>
                <figcaption>
                  <div class="view">
                    <i class="proudsmart ps-focus"></i><span>{{product.pageview}}</span>
                  </div>
                </figcaption>
              </figure>
            </div>

            <!-- 详情简述 -->
            <div class="col-lg-8 col-md-12">
              <div class="detail-intro">
                <h3 class="title">{{product.name}}</h3>
                <div>
                  <label>供应商: </label>
                  <a *ngIf="product?.companyMd5; else showCompanyDetail" [routerLink]="['/company/detail']" [queryParams]="{md5: product?.companyMd5}" [innerHtml]="product.companyName | trustHtml"></a>
                  <ng-template #showCompanyDetail>
                    <span>{{product.companyName}}</span>
                  </ng-template>
                </div>
                <div><label>产品分类: </label><span>{{product.productCategory1}} > {{product.productCategory2}}</span></div>
                <div><label>关键词: </label><span>{{product.keywords}}</span></div>
                <div class="share">
                  <ark-share sharePic="{{product.logo | ImgPathPre}}" shareDesc="{{product.detail | TrimHTML}}"></ark-share>
                  <add-collect type="5" [md5]="product.md5" (click)="onClick"></add-collect>
                </div>
              </div>
            </div>
          </div>

          <!-- Tab 详情 -->
          <div class="row margin-t-30">
            <div class="col-12 detail">
              <div class="detail-nav">
                <ul>
                  <li><a [ngClass]="selItem==0 ? 'active' : ''" (click)="onItemClick(0)">产品详情</a></li>
                  <li><a [ngClass]="selItem==1 ? 'active' : ''" (click)="onItemClick(1)">相关方案</a></li>
                </ul>
              </div>

              <div class="detail-content">
                <!-- 详情 -->
                <div class="con" [style.display]="selItem==0 ? 'block' : 'none'">
                  <div class="detail-container" *ngIf="product?.detail" [innerHtml]="product?.detail | trustHtml">
                  </div>
                  <ark-no-data showType="detail" bgc="transparent" [hideSign]="product?.detail"></ark-no-data>
                </div>

                <!-- 列表 -->
                <div class="con" [style.display]="selItem==1 ? 'block' : 'none'">
                  <div class="detail-list row" *ngIf="solutions">
                    <div class="col-lg-4 col-md-6 col-sm-12"  *ngFor="let solution of solutions">
                      <div class="detail-list-item">
                        <figure *ngIf="solution.logo">
                          <a [routerLink]="['/solution/detail']" [queryParams]="{md5: solution.md5, id: solution.id, name: solution.name, industry: solution.industryCategory}">
                            <img *ngIf="solution.logo" alt="solution" src="{{solution.logo | ImgPathPre }}">
                            <img *ngIf="!solution.logo" alt="solution" src="../../../../asset/image/default/solution_default.png">
                          </a>
                          <figcaption>
                            <h3>
                              <a [routerLink]="['/solution/detail']" [queryParams]="{md5: solution.md5}" title="{{solution.name}}"  [innerHtml]="solution.name | trustHtml"></a>
                            </h3>
                            <h4>
                              <label>行业:</label>
                              <a [title]="solution.industryCategory">{{solution.industryCategory}}</a>
                            </h4>
                            <h4>
                              <label>技术:</label>
                              <a [title]="solution.technologyCategories">{{solution.technologyCategories}}</a>
                            </h4>
                            <h4>
                              <label>产品:</label>
                              <a [title]="solution.productCategories">{{solution.productCategories}}</a>
                            </h4>
                            <h4>
                              <label>供应商:</label>
                              <a *ngIf="solution.companyMd5 else showCompanyName" [routerLink]="['/company/detail']" [queryParams]="{md5: solution?.companyMd5}" [innerHtml]="solution.companyName | trustHtml"></a>
                              <ng-template #showCompanyName>
                                <a title="{{solution.companyName}}" [innerHtml]="solution.companyName | trustHtml"></a>
                              </ng-template>
                            </h4>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <ark-no-data showType="detail" bgc="transparent" [hideSign]="solutions!==null"></ark-no-data>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-12">
        <div class="morelike">
          <div class="morelike-head">
            <h3>类似产品</h3>
          </div>
          <div class="morelike-body" *ngFor="let product of products">
            <figure>
              <a (click)="redirectToThis(product.md5, product.name)">
                  <img *ngIf="product?.logo; else showMorelikeImage"  alt="product" [src]="product.logo | ImgPathPre | trustURL">
                  <ng-template #showMorelikeImage>
                    <img alt="product" src="../../../../asset/image/default/product_default.png">
                  </ng-template>
              </a>
              <figcaption>
                <h3><a [title]="product.title" [innerHtml]="product.name | trustHtml"></a></h3>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ark-footer></ark-footer>