<section claes="full-height flex flex-column">
  <ark-header headerTitle="请求过速验证"></ark-header>

  <section class="flex-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12 ark-log-in">
          <div class="tab-content">
            <h3 class="margin-b-20">请求过速验证</h3>
            <div class="margin-b-20">
              <figure>
                <img src="{{base64Img}}" height="40" alt="CaptcherImg">
                <figcaption>
                  <a href="javascript: void(0)" (click)="getKaptcha()">看不清？换一张</a>
                </figcaption>
              </figure>
              <input type="text" class="form-control" maxlength="12" name="code" #code placeholder="请输入验证码">
            </div>
            <div class="text-center">
              <a href="javascript: void(0)" (click)="verifyCode(code.value)" class="col-sm-8 col-xs-12 btn btn-primary signup-btn">提交</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ark-footer></ark-footer>
</section>